<br>
<div class="container">
  <div class="row">
    <div class="col">

  <div class="card" style="width: 100%;">
  <div class="card-header">
    <h4 class="card-title">New Article</h4>
        </div>
        <div class="card-body">
            <%= render "form", article: @article %>
        </div>
    </div>

    </div>
  </div>
</div>